.companies{
    background-color: $color-gray-5;
    border-bottom: 1px solid $color-gray-6;
    h3{
        @include styleText($color-gray-4,$fs-1,$fw-normal);
        padding-top: $pd-2 - 4;
    }
    .companies__content{
        width: 85%;
        margin: 0 auto;
        display: flex;
        .logo__item{
            margin: 0 $mg-2 + 7 $mg-1 - 2;
            text-align: center;
        }
    }
    .your-Options{
        text-align: center;
        .Option{
            padding: $pd-2 + 8 $pd-2 * 6 + 10;
            border-right: 1px solid $color-gray-6;
            p{
                @include styleText($color-black-0,$fs-0 + 1,$fw-normal);
                line-height: 1.5em;
                padding-top: $pd-0 - 2;
            }
            a{
                @include styleText($color-black-light,$fs-2 - 1,$fw-bold-1);
                text-decoration: none;
            }
        }
    }
}